
.add-license-content{
    background-color: #f4f7ff;
    height: 100%;
    width: 100%;
    margin:0;
    
    padding: 11px;
}
.license-form-heading{
    font-weight: 700;
    font-size: 16px;
}
.add-license-form{
    background-color: #fff;
    padding: 11px;
    margin-top: 11px;
    margin-bottom: 11px;
}
.col-12{
    width: 100%;
}
.add-license-form .row:last-child{
    margin-bottom: 0;
}
.add-license-detail{
    background-color: #fff;
    padding-top: 11px;
    margin-top: 11px;
    margin-bottom: 11px;
}
.add-license-detail .m-table td{
    text-overflow: ellipsis !important;
    overflow: hidden !important;       
    white-space: nowrap !important;
}
.add-license-detail .m-second-button{
    background-color: white;
    box-shadow: 0 2px 6px rgb(0 0 0 /16%);
}
.add-license-detail .m-field-input-icon{
    width: 270px;
}
.add-license-detail .detail-table td:nth-child(7){
    width: 50px;
    min-width: 150px;
}
.add-license-detail .detail-table td:nth-child(2){
    padding-left: 20px;
}
.add-license-detail .detail-table td:nth-child(3){
    width: 130px;
    min-width: 130px;
    max-width: 130px;
}
.add-license-detail .detail-table td:nth-child(4){
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    padding-left: 20px;
}
.add-license-detail .detail-table td:nth-child(6){
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}
.add-license-detail .detail-table th:nth-child(2){
    padding-left: 20px;
}

.add-license-detail .detail-table th:nth-child(4){
    padding-left: 20px;
}
.add-license-detail{
    height: 40%;
}
.license-dialog > *{
    margin: 0;
}
.top-form-row{
    padding-left: 11px;
    padding-right: 11px;
}
.add-license-detail .detail-toolbar{
    padding: 0 11px 11px 11px;
    margin: 0;
}
.add-license-detail .contain-detail-table{
    height: 170px;
}
.detail-table-footer{
    /* position: absolute;
    bottom: 40px; */
    /* width: 100%; */
    overflow-x: auto;
    /* border-top: 1px solid #afafaf; */
    border-collapse: collapse;
    background-color: #f5f5f5;
    height: 40px;
}
.add-license-detail .detail-grid{
    position:relative;
    height: 250px;
}
.add-license-detail .contain-detail-table{
    overflow-y: auto;
}
.add-license-detail .contain-detail-table::-webkit-scrollbar {
    height: 0px;
    width: 4px;
    scroll-padding: 20px;
}
.detail-table-footer th:last-child{
    padding-right: 16px;
}
.contain-detail-table{
    height: 155px;
    overflow:auto;
}
.contain-detail-table::-webkit-scrollbar {
    height: 0px;
    width: 4px;
}
.toast-message-null{
    color: red;
    /* opacity: 0; */
}
.add-license-detail .table-action{
    position:absolute;
    /* right: 0; */
    left: 20%;
    top: 0;
}
.contain-action-icon{
    height: 36px; 
    width: 36px; 
    border-radius: 50px; 
    padding: 10px;
    background-color: #d1edf4;
}
.contain-action-icon:hover{
    background-color: white;
}
.add-license-form .row{
    margin-bottom: 0;
}