.m-del-popup{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 150px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    display: none;
    box-shadow: 0 3px 13px rgba(0, 0, 0, .16);
}

.m-import-popup{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    display: flex;
    display: none;
    box-shadow: 0 3px 13px rgba(0, 0, 0, .16);
    flex-direction: column;
    padding-left: 20px;
}

.m-del-popup .alert-icon{
    background: url('../../asset/icons/qlts-icon.png') no-repeat -416px -66px;
	width: 40px;
	height: 20px;
}
.m-del-popup .content, .m-import-popup .content{
    width: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: 600;
    line-height: 20px;
    margin-right: 10px; 
}
.m-import-popup .content{
    margin-left: 0;
    margin-top: 0;
}
.m-import-popup .m-second-button{
    width: 100px;
}
.m-del-popup .popup-action, .m-import-popup .popup-action{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    gap: 20px;
    padding-right: 40px;
    display: none;
    
}

.m-del-popup .popup-action .m-second-button{
    height: 35px;
    width: 100px;

}

.m-del-popup row{
    display: fl
}

