.m-pagination{
    display: flex;
    height: 39px;
    align-items: center;
    padding-left: 16px;
    justify-content:space-between;
    gap: 10px;
    width: 147px;
    list-style-type: none;
}
.m-pagination li{
    cursor: pointer;
}
.m-pagination .prev-link-class,
.m-pagination .next-link-class {
  opacity: 0;
}
.m-pagination .page-item:first-child {
    background: url("../../asset/icons/qlts-icon.png") no-repeat -29px -246px;
    width: 7px;
    height: 12px;
}
.m-pagination .page-item.active{
    background-color: #d1cdcd;
    padding: 5px;
}
  
.m-pagination .page-item:last-child {
    background: url("../../asset/icons/qlts-icon.png") no-repeat -73px -246px;
    width: 7px;
    height: 12px;
}
.m-pagination .first-page-button{
    background-image: url(../../asset/icon/btn-firstpage.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 35px;
    width: 35px;
    border: none;
    background-color: #fff;
    background-position: center;
}

.m-pagination button{
    cursor: pointer;
}
.dropdown-pagination{
    width: 59px;
     height: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.m-pagination .prev-page-button{
    background-image: url(../../asset/icon/btn-prev-page.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 35px;
    width: 35px;
    border: none;
    background-color: #fff;
    background-position: center;
}

.m-pagination .next-page-button{
    background-image: url(../../asset/icon/btn-next-page.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 35px;
    width: 35px;
    border: none;
    background-color: #fff;
    background-position: center;
}

.m-pagination .last-page-button{
    background-image: url(../../asset/icon/btn-lastpage.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 35px;
    width: 35px;
    border: none;
    background-color: #fff;
    background-position: center;
}

.m-pagination .m-pagination-pages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.m-pagination .m-pagination-pages .page-item{
    height: 20px;
    width: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-pagination .m-pagination-pages .page-item.current-page{
    background-color: #f5f5f5;
    border-radius: 3px;
}

#pagination-table td:nth-child(1){
    min-width: 729px;
    width: 729px;
}
#pagination-table td:nth-child(2){
    width: 80px;
    min-width: 80px;
}
#pagination-table td:nth-child(3){
    width: 110px;
    min-width: 110px;
}
#pagination-table td:nth-child(4){
    width: 123px;
    min-width: 123px;
}
#pagination-table td:nth-child(5){
    width: 112px;
    min-width: 112px;
}
#pagination-table td:nth-child(6){
    width: 90px;
    min-width: 90px;
}
#pagination-table td:not(:first-child){
    padding: 0px 5px 0px 5px;
}