<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test dialog</title>
    <link rel="stylesheet" href="../css/mainDemo.css">
</head>
<body>
    <div class="m-combobox">
        <input type="text">
        <button></button>
        <div class="m-combobox-data">
            <div class="m-combobox-item">1</div>
            <div class="m-combobox-item">2</div>
            <div class="m-combobox-item">3</div>
        </div>
    </div>
</body>
</html>